@mixin custom-select($display) {
	border:		1px solid $color-base;
	background-color: white;
	&:focus {
		box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05),0 0 8px rgba(115, 156, 160, 0.6);
	}

	@if $display == inline-block {
		// image for the arrow goes here
		@include inline-block();
	}

	@if $display == block {
		// here you might be reposition the image in displayed as a block
	}

	@else if $display == default {
		&:after {
			background-image: none !important;
		}
	}
	@media screen and (min-width:0\0) {
		&:after {
			background-image: none !important;
		}
	}

	select {
		padding: 6px 40px 6px 8px;
		@if $display == default {
			padding: 5px 8px 5px 8px !important;
		}
		@media screen and (min-width:0\0) {
			padding: 6px 8px 6px 8px !important;
		}
		width: 100%;
		cursor: pointer;
		background: transparent;
		border: 0;
		height: auto;
		border-radius: 0;
		text-overflow: ellipsis;
		display: inline-block;
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-appearance: none;
		-moz-appearance: window;
		&:focus {
			outline:none;
		}
		option:focus {
			outline:none;
		}
	}
}
